spring:
  application:
    name: jpaTutes
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    defer-datasource-initialization: true
  properties:
    hibernate:
      format_sql: true

  datasource:
    url: jdbc:mysql://localhost:3306/test?useSSL=false
    username: root
    password: Piyush@27

  sql:
    init:
      mode: always
      data-locations: classpath:data.sql
